.venv/
__pycache__/
*.pyc
.env
.DS_Store
auth-server/app/build/
auth-server/.gradle/
frontend/node_modules/
frontend/dist/
*.log
infrastructure/vector-db/*.index
infrastructure/vector-db/*.pkl
ai-server/.env
ai-server/ai
ai-server/storage/
myenv/
venv/
.env
__pycache__/
.DS_Store
ai-server/myenv/
ai-server/venv/
ai/