[mysqld]
default-storage-engine=InnoDB
character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
skip-character-set-client-handshake
lower_case_table_names=1
bind-address=0.0.0.0
sql_mode=ONLY_FULL_GROUP_BY,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION
wait_timeout=60
interactive_timeout=60
lock_wait_timeout=60
max_connections=200

[mysql]
default-character-set=utf8mb4

[mariadb]
max_connections=200

[mysqldump]
quick
max_allowed_packet=256M
